<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\CustomerGraphQl\Model\Customer\UpdateCustomerData">
        <arguments>
            <argument name="restrictedKeys" xsi:type="array">
                <item name="email" xsi:type="const">Magento\Customer\Api\Data\CustomerInterface::EMAIL</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\GraphQl\Model\Query\ContextFactory">
        <arguments>
            <argument name="contextParametersProcessors" xsi:type="array">
                <item name="add_user_info_to_context" xsi:type="object">Magento\CustomerGraphQl\Model\Context\AddUserInfoToContext</item>
            </argument>
        </arguments>
    </type>
    <preference for="Magento\CustomerGraphQl\Api\DataMapperInterface" type="Magento\CustomerGraphQl\Model\Customer\DataMapper\DataMapperPool"/>
    <virtualType name="CustomerGraphQlResolverCustomerFieldsMapper" type="Magento\CustomerGraphQl\Model\Customer\DataMapper\FieldsDataMapper">
        <arguments>
            <argument name="fieldsMap" xsi:type="array">
                <item name="gender" xsi:type="array">
                    <item name="fieldName" xsi:type="string">genderV2</item>
                    <item name="map" xsi:type="array">
                        <item name="1" xsi:type="string">MALE</item>
                        <item name="2" xsi:type="string">FEMALE</item>
                    </item>
                </item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="CustomerGraphQlResolverCustomerDataMapperPool" type="Magento\CustomerGraphQl\Model\Customer\DataMapper\DataMapperPool">
        <arguments>
            <argument name="dataMappers" xsi:type="array">
                <item name="fieldsMapper" xsi:type="object">CustomerGraphQlResolverCustomerFieldsMapper</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="CustomerGraphQlResolverCustomerMutationDataMapperPool" type="Magento\CustomerGraphQl\Model\Customer\DataMapper\DataMapperPool">
        <arguments>
            <argument name="dataMappers" xsi:type="array">
                <item name="fieldsMapper" xsi:type="object">CustomerGraphQlResolverCustomerMutationFieldsMapper</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="CustomerGraphQlResolverCustomerMutationFieldsMapper" type="Magento\CustomerGraphQl\Model\Customer\DataMapper\FieldsDataMapper">
        <arguments>
            <argument name="fieldsMap" xsi:type="array">
                <item name="genderV2" xsi:type="array">
                    <item name="fieldName" xsi:type="string">gender</item>
                    <item name="map" xsi:type="array">
                        <item name="MALE" xsi:type="number">1</item>
                        <item name="FEMALE" xsi:type="number">2</item>
                    </item>
                </item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Magento\CustomerGraphQl\Model\Customer\ExtractCustomerData">
        <arguments>
            <argument name="dataMapper" xsi:type="object">CustomerGraphQlResolverCustomerDataMapperPool</argument>
        </arguments>
    </type>
    <type name="Magento\CustomerGraphQl\Model\Resolver\CreateCustomer">
        <arguments>
            <argument name="dataMapper" xsi:type="object">CustomerGraphQlResolverCustomerMutationDataMapperPool</argument>
        </arguments>
    </type>
    <type name="Magento\CustomerGraphQl\Model\Resolver\UpdateCustomer">
        <arguments>
            <argument name="dataMapper" xsi:type="object">CustomerGraphQlResolverCustomerMutationDataMapperPool</argument>
        </arguments>
    </type>
</config>
